body {
    font-family: Arial, sans-serif;
    background-color: #8ad5e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #01abee;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(230, 176, 59, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time {
    font-size: 1.5rem;
    padding: 10px;
    background: #300120;
    color: #fff;
    border-radius: 5px;
}
