body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
}

nav ul li a:hover {
    border: 1px solid #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: red;
}

table, th, td {
    border: 1px solid #82bd53;
}

th, td {
    padding: 10px;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: calc(50% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}